<html>

<body>
<div ng-app="noteApp">
    <div ng-controller="NoteController as vm">
        <div>
            <button ng-click="vm.createNote()">Create</button>
            <ul>
                <li ng-repeat="note in vm.notes">
                    <a href="" ng-click="vm.selectedNote = note">NOTE</a>
                </li>
            </ul>
        </div>
        <div>
            <input ng-model="vm.selectedNote.title">
            <textarea ng-model="vm.selectedNote.content"></textarea>
            <button ng-click="vm.updateNote()">SAVE</button>
        </div>
        {{vm.selectedNote}}
    </div>
</div>
</body>

<script src="3pp/angular.min.js" type="text/javascript"></script>
<script src="app.js" type="text/javascript"></script>
</html>